* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.xheader{
    height: 460px;
    border: 5px solid darkgray;
    border-radius: 10px;
    overflow: scroll;
    padding-bottom: 10px;
}

.xfooter{
    height: 150px;
    margin-top: 5px;
    padding-top: 5px;
    border: 5px solid darkgray;
    border-radius: 10px;
    overflow: scroll;
}

.displaybuttons {
    display:flex;
    justify-content: center;
}