* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenidoInventarioPerpetuo{
    height: 89vh;
    border: 5px solid blue;
    border-radius: 10px;
    overflow: scroll;
}

.contentInventarioPerpetuoDetalles{
    height: 35vh;
    border: 5px solid green;
    border-radius: 10px;
    overflow:scroll;
}

.radioborder{
    border: 2px solid lightgrey;
}