* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.header {
    background-color: lightskyblue;
    border:5px solid gray;
    border-radius: 10px;
}

 .content {
    height: 300px;
    border: 10px solid gray;
    border-radius: 10px;
    overflow-y:scroll; 
 }

 .notas{
     height:70px;
     display:flex;
     flex-direction: column;
     border: 10px solid gray;
     border-radius: 10px;
     overflow: scroll;
 }

 .notas > div > button{
     width: 4rem;
     height: 3rem;
     margin: 3px;
     background-color: rgb(37, 220, 20);
     border-radius: 10px;
 }

 .footer{
    background-color: lightskyblue;
    border:5px solid gray;
    border-radius: 10px;
    height: 120px;
 }

 #btn-registrarventa {
     position: absolute;
     top: 10px;
     right: 10px;
 }

 #btn-nota {
    width:8.8rem;
    margin-top: 5px;
    position: absolute;
    top: 45px;
    right: 12px;
}

 #btn-cancelarventa {
    position: absolute;
    top: 55px;
    left: 17px;
 }

 label{
     font-size: 1em;
     display: inline-block;
     width: 114px;
 }

 #totalTicket{
     width: 85px;
 }

 .ventanaproductos{
     display:block;
     background: white;
     border-radius: 10px;
     height: 300px;
     z-index: 1;
     overflow: scroll;
 }

 #notaspendientes{
     display:flex;
     justify-content:space-around;
 }

 .CatalogoClientes{
     position: fixed;
     top:1;
     left:1;
     width: 100%;
     height: 90%;
     border: 5px solid orangered;
     border-radius: 10px;
     background-color: lightblue;
     z-index: 1;
 }

 .XTimesVentana{
    height: 300px;
    border: 10px solid gray;
    border-radius: 10px;
    border: 5px solid orangered;
    border-radius: 10px;
    background-color: lightblue;
    z-index: 1;
}

 #table1 tr {
    font-size:1.2rem;
}

#table1 td{
    font-size: 1.2rem;
}

#table1, th, td{
    border:3px solid grey;
}

@media only screen and (max-width: 387px) {
    #sucursales, #clientes {
        width: 9.0rem;
        font-size:x-small;
    }
}